.fourthPage {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.box{
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

p {
  font-weight: bold;
  font-size: 18px;
}

label p {
  display: inline-block;
  margin-right: 20px;
}

input[type="radio"] {
  margin-right: 8px;
}

small.text-red-500 {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.saveBtn  {
  width: 80%;
  padding: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saveBtn:hover {
  background-color: #2980b9;
}
