
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  margin: 0 auto;
  width: 1100px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

form p {
  margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 20px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="date"]::placeholder {
  color: #888;
}

small.text-red-500 {
  color: red;
  font-size: 12px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

